<head><link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"></head>
<h1>About Us</h1>
<p>Working on One Month Rails</p>
<p>Scott Buendia is an internet marketing professional with a degree in Internet Marketing from Full Sail University.
<p>He is also a musician producing electronic music and Post Punk Big Beat Hip Hop as:</p><p style="font-family: 'Oswald', sans-serif; font-size: 3em; padding-top: 0;"> Mr. Stun</p>
<p><iframe width="400" height="200" src="https://www.youtube.com/embed/vm9_TU_nTY0" frameborder="0" allowfullscreen></iframe></p>
<p style="font-family: 'Oswald', sans-serif; font-size: 2em;">Outcast00096</p>
<p><iframe width="400" height="200" src="https://www.youtube.com/embed/Wla3SB6Zvkc" frameborder="0" allowfullscreen></iframe></p>