<head><link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>
<h1 style="font-family: 'Bungee', cursive; font-size: 1.25em">Welcome to my Website - Suck It Trebek</h1>
<p>Sign Up Here</p>
<p style="text-align: right; font-size: .95em">I've been tasked with talking about this website and what I want to build.</p> 
<p style="text-align: left; font-size: 1.25em">I have no idea. I'm an internet marketer by trade. Usually someone else builds the thing and I get the traffic.</p> 
<p style="text-align: center; font-size: 2em">You would think that the website is about me by looking at the other pages but my least favorite subject is myself.</p>
<p>I do things that make marketing art such as this:</p>
<p style="text-align: center;"><iframe width="400" height="200" src="https://www.youtube.com/embed/gDTAv1sFljU" frameborder="0" allowfullscreen></iframe></p>
<p style="text-align: right; font-family: 'Oswald', san-serif;"">I'm also a musician and you can find my <span style="font-size: 1.5em">music</span> on the <span style="font-size: 2.5em"><%= link_to "About", about_path %> page.</span></p>
<p style="font-size: 2em; font-family: 'Ubuntu', san-serif;">"Once you realize what a joke everything is,</p> <p style="font-family: 'Oswald', san-serif; text-align: right;">being the Comedian is the only thing that makes sense." (Comedian, Watchmen)</p>
<p style="text-align: right;"><img src="https://s-media-cache-ak0.pinimg.com/originals/8c/9e/b9/8c9eb912ff2766376ef56dcdee8ee3c2.png" height="200" width="300"></p>
<p><span style="font-size: 1.5em">Actually, I find the creation of this website very fun</span> because it is <span style="font-size: 3em;">creative</span> and I cannot be this creative elsewhere on the job</p>.
<p><span style="text-decoration: underline; font-size: 1.5em">I realize that I probably will build an ARG out of this thing.</span> Meaning there will be <span style="font-size: 1.5em">secret codes and puzzles</span> leading up to something. Maybe a download of a song or something. It sounds like a challenge and worthy of the challenge.</p>
<p style="text-align: right;">However, it might be too ambitious. Oh well. That is what I have so far.</p>